@use "../../styles/mixin";
@import "../../styles/variables";

.noCart {
  line-height: 1.5;
  @include mixin.flex(column, space-between, center);
  flex: 1;
  @media (min-width: 800px) {
    width: 800px;
    margin-bottom: 20px;
    font-size: 120%;
  }

  .fa-cart-shopping {
    margin-bottom: 2rem;
  }

  .cartInfo {
    padding: 5rem;
    text-align: center;
    display: grid;
    gap: 0.5rem;
  }

  .takeMeBack {
    @include mixin.bigAddBtn;
    display: block;
    text-align: center;
    width: 100%;
    @media (min-width: 800px) {
      // font-size: 120%;
    }
  }
}
