@use "../../styles/mixin";
@import "../../styles/variables";

.noCart {

    line-height: 1.5;

    .fa-cart-shopping {
    margin-bottom: 2rem;
    }
    

    .cartInfo {
        padding: 5rem;
        text-align: center;
        display: grid;
        gap: .5rem;
      }

    .takeMeBack {
        @include mixin.bigAddBtn;
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
}