@use "../../styles/mixin";
@import "../../styles/variables";

.noCart {
    line-height: 1.5;
    @include mixin.flex(column, space-between, center);
    min-height: 66vh;

    @media (min-width: 800px) {
      max-width: 800px;
      margin: auto;
      padding: 2rem;
      margin-bottom: 2rem;
    }

    .fa-cart-shopping {
    margin-bottom: 2rem;
    }
    

    .cartInfo {
        padding: 5rem;
        text-align: center;
        display: grid;
        gap: .5rem;
      }

    .takeMeBack {
        @include mixin.bigAddBtn;
        display: block;
        text-align: center;
        width: 100%;
        // position: absolute;
      }
}