@use "../../styles/mixin";
@import "../../styles/variables";

.signInWrapper {  

  @media (min-width: 800px) {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  
  .signInBtns {
    display: flex;
    

    .userNav {
      background-color: transparent;
      flex: 1;
      text-align: center;
      padding: 0.7rem;
      margin-bottom: 0.5rem;
      border: 0;
      font-family: "Inter", sans-serif;
      font-size: 1.5em;
      color: $darkGrey;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      transition: 0.2s;
      color: $medGrey;


      &.active {
        border-bottom: 2px solid $green;
        color: $darkGrey;

      }
    }
  }
}
