@use "../../styles/mixin";
@import "../../styles/variables";

.selectSignIn {
  display: flex;
  .toggleSignInBtn {
    flex: 1;

    background-color: transparent;
    padding: 1rem;
    border: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    color: $darkGrey;
    font-weight: 600;
    cursor: pointer;

  }
}
