@use "../../styles/mixin";
@import "../../styles/variables";

.loginForm {

    @media (min-width: 800px) {
        @include mixin.flex(row, center, stretch);
        gap: 20px;
        margin: 0 20px;
        font-size: 120%;
    };


    form {
        @include mixin.form;
        display: flex;
        flex-direction: column;

        #category {
            padding: 0 0.3rem;
        }
        label {
            font-family: 'Abel', sans-serif; 
        }

        .error {
            background-color: $lightRed;
            padding: 0.5rem;
            margin-bottom: 1rem;
          }

        button {
            position: absolute;
            bottom: 0;
            padding: .8em;
            font-size: .8em;
        }
    }
}

