@use '../../styles/mixin';

.wrapper {
    @include mixin.flex(column, flex-start, stretch);
   min-height: 100vh;
    header {
        position: sticky;
        z-index: 999;
        top: 0px;
    }

    .siteFlex {   
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 10px;
        margin-top: 0px;
    }
}