@use '../../styles/mixin';

.wrapper {
    @include mixin.flex(column, flex-start, stretch);
   min-height: 100dvh;
    header {
        position: sticky;
        z-index: 999;
        top: 0px;
    }

    .siteFlex {
        flex: 1;
        margin: 10px;
        // background-color: aquamarine;
    }
}