main {
    color: $darkGrey;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    color: $darkGrey;

    
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
    color: $darkGrey;
}

.prodWrap {

    h2 {
    font-size: .75em;
    font-weight: 400;
    line-height: 150%;
    }

    p {
        color: $red;
    }
    
}
h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: $darkGrey;
}
h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $medGrey;
}
span.price {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: $medGrey;
}


li {
    list-style: none;
    font-size: 14;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $darkGrey;
}

p {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}

.light {
    font-weight: 200;
}

.medium {
    font-weight: 500;
}

.black {
    font-weight: 900;
}

.red {
    color: $red;
}

.white {
    color: white;
}



// undvika zoom på inputfält
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

