@use "../../styles/mixin";
@import "../../styles/variables";

.profile {
  .homeBanner .bottom {
    display: none;
  }
  article.myAccount {
    line-height: 1.5;
    display: grid;
    gap: .5rem;
    h1 {
      background-color: $darkGrey;
      color: white;
      padding: 0rem 0.2rem;
      letter-spacing: -2px;
      box-shadow: rgba(99, 99, 99, 0.1) 0px 5px 8px 2px;
      margin-bottom: 1rem;
    }
    span {
      color: $yellow;
    }


    .logOut {
      @include mixin.bigAddBtn;
      background-color: $red;
      width: 100%;
      margin-top: 1rem;

      &:hover {
        background-color: $darkGrey;
      }
    }
    section {
      border-bottom: 1px solid $grey;

      &:last-child {
        border-bottom: 0;
      }
    }

    .accountInfo {
      padding: 5rem;
      text-align: center;
    }
  }
}
