@use "../../styles/mixin";
@import "../../styles/variables";

.profile {

  max-width: 800px;
  margin: auto;
  .homeBanner .bottom {
    display: none;
  }
  article.myAccount {
    line-height: 1.5;
    display: grid;
    gap: 0.5rem;
   

    .logOut {
      @include mixin.bigAddBtn;
      background-color: $red;
      line-height: 1;

      &:hover {
        background-color: $darkGrey;
      }
    }
    section {
      border-bottom: 1px solid $grey;

      &:last-child {
        border-bottom: 0;
      }
    }

    
    .accountInfo {
      display: flex;
      justify-content: space-between;
      padding-block: 1rem;

    }
  }
}
