@use "../../styles/mixin";
@import "../../styles/variables";

.profile {
  margin: 0 10px;
  article.myAccount {
    line-height: 1.5;

    section {
        border-bottom: 1px solid $grey;
        padding-block: 0.5rem;
      }

      .accountInfo {
        
        padding: 5rem;
        text-align: center;
      }
  }

  

}
