@use "../../../styles/mixin";
@import "../../../styles/variables";

.cartItem {
  @include mixin.flex(row, flex-start, flex-start);
  gap: 15px;
  padding-block: 1rem;
  border-bottom: 1px solid $grey;

  img {
    height: 9.5em;
    width: 7.5em;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    flex-shrink: 0;

    &:hover {
      opacity: 0.85;
    }
  }

  .itemRight {
    @include mixin.flex(column, space-between, flex-start);

    .quantity {
      @include mixin.flex(row, space-between, center);
      gap: 0.5rem;

      .qtySelect {
        @include mixin.flex(row, space-between, stretch);
        border: 1px solid $darkGrey;
        height: 26px;



        .qty {
          border-inline: 1px solid $darkGrey;
          font-family: 'Inter', sans-serif;
          display: flex;
          align-items: center;
          width: 26px;

          padding: 0rem 0.5rem;
        }
        button {
          display: flex;
          width: 26px;
          justify-content: center;
          align-self: center;
          background-color: transparent;
          // padding: 0.2rem 0.5rem;
          border: 0;
          color: $darkGrey;
        }
      }
    }
  }

  .removeProduct {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: $medGrey;
    margin-left: auto;
  }
}
