@use "../../styles/mixin";
@import "../../styles/variables";

.cart {
  @include mixin.flex(column, flex-start, center);
  flex: 1;

  article {
    line-height: 1.5;
    @include mixin.flex(column, flex-start, stretch);
    flex: 1;


    @media (min-width: 800px) {
      width: 800px;
      // margin: auto;
      font-size: 120%;
      margin-bottom: 20px;
    }

    #checkout {
      & > * {
        margin-block: 0.5rem;
      }

      .priceSum {
        @include mixin.flex(row, space-between, center);
      }
      .priceSum.total {
        border-top: 1px solid $grey;
        padding-top: 0.5rem;
        p {
          color: black;
          font-weight: 600;
        }
      }

      p {
        font-family: "Inter", sans-serif;
        font-size: 1em;
        font-weight: 400;
        color: $medGrey;
      }

    }
    .toCheckout {
      @include mixin.flex(column, flex-end, center);

      flex: 1;
      .bigAddBtn {
        @include mixin.bigAddBtn;
  
        display: block;
        text-align: center;
        width: 100%;
        margin-block: 0;
        margin-top: 1rem;
      }

    }
  }
}
