@use "../../../styles/mixin";
@import "../../../styles/variables";

.prodCard {
  @include mixin.flex(column, flex-start, stretch);

  a {
    @include mixin.flex(column, flex-start, stretch);
  }

  img {
    height: 220px;
    object-fit: cover;
    overflow: hidden;
    transition: .2s ease-in-out;

    &:hover {
      opacity: 0.85;
    }

    @media (min-width: 600px) {
      height: 330px;
    }

    @media (min-width: 800px) {
      height: 440px;
    }
  }

  .prodBot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5em;
  }

  .price {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: $medGrey;
    font-size: .9em;
  }
}
