@use "../../../styles/mixin";
@import "../../../styles/variables";


form {
    @include mixin.form;

    label {
        font-family: 'Abel', sans-serif; 
    }

    button {
        margin-top: 1em;
        padding: .8em;
        font-size: .8em;
    }
}