@use "../../styles/mixin";
@import "../../styles/variables";

.home {
  @include mixin.flex(column, flex-start, stretch);
  gap: 10px;

  @media (min-width: 650px) {
    margin: 0 20px;
  }
  @media (min-width: 950px) {
    margin: 0 40px;
  }

  
  

 
}
