@use "../../../styles/mixin";
@import "../../../styles/variables";

.productsBanner {
    background-color: $orange;
    padding: 4.1%;
    z-index: -1;

    @media (min-width: 800px) {
      padding: 33px;
    }

    .title {
      margin-bottom: 1rem;
    }

    .bottom {
      @include mixin.flex(column, center, flex-start);
      position: relative;
      width: 80%;
      max-width: 600px;
      max-height: 23vh;

      img {
        overflow: hidden;
        object-fit: cover;
        object-position: 0% 80%;
      }
      .slogan {
        position: absolute;
        align-self: center;
        max-width: 300px;
      }
    }
  }