@use "../../../styles/mixin";
@import "../../../styles/variables";

.menuWrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.244);
  backdrop-filter: blur(2px);


  .dropDownMenu {
    position: absolute;
    top: 0;
    @include mixin.flex(column, flex-start, flex-end);
    padding: 2rem;
    gap: 1rem;
    height: 100vh;
    margin: auto;
    background-color: white;
    width: 85vw;
    border-right: 1px solid $grey;
    left: 0px;

    .leftMenu {
      display: grid;
      gap: 1rem;

      ul {
        display: grid;
        gap: 1rem;

        & > :first-child {
          background-color: #fff692;
        }
        & > :nth-child(2) {
          background-color: $yellow;
        }
        & > :nth-child(3) {
          background-color: $starYellow;
        }
        & > :nth-child(4) {
          background-color: rgb(255, 106, 37);
        }
        & > :nth-child(5) {
          border: 1px solid $medGrey;
        }
      }

    }

    button {
      color: $medGrey;
      height: 2rem;
      border: 0;
      background-color: transparent;
    }
    
  }
}

.menuWrapper.active {
  opacity: 1;
  visibility: visible;

  transition: 0.3s ease-in-out;
}
.menuWrapper.inactive {
  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease-in-out;
}
.dropDownMenu.active {
  transform: translate(0);
  transition: 0.3s ease-in-out;
}
.dropDownMenu.inactive {
  transform: translate(-80vh);
  transition: 0.3s ease-in-out;
}

