@use "../../styles/mixin";
@import "../../styles/variables";

.registerForm {
    @media (min-width: 800px) {
        @include mixin.flex(row, center, stretch);
        gap: 20px;
        font-size: 120%;
    };


    form {
        @include mixin.form;
        display: flex;
        flex-direction: column;

        .instructions {
            padding-block: 1rem;
            border-bottom: 1px solid $grey;
            margin-bottom: 1rem;
            text-align: center;

        }

        #category {
            padding: 0 0.3rem;
        }
        label {
            font-family: 'Abel', sans-serif; 
        }

        .error {
            background-color: $lightRed;
            padding: 0.5rem;
            margin-bottom: 1rem;
          }

        button {
            margin-top: 1rem;
            padding: .8em;
            font-size: .8em;
        }
    }
}

