@use "../../styles/mixin";
@import "../../styles/variables";

.products {
  @include mixin.flex(column, flex-start, stretch);
  align-self: center;
  gap: 1rem;

  .categorySelect {
    @include mixin.flex(row, space-between, center);
    padding-inline: 10px;
    padding-bottom: 0;
    margin-inline: -10px;
    overflow: scroll;
    gap: 1rem;

    .editBtn {
      @include mixin.editBtn;
      min-width: 100px;

      &.active {
        background-color: $green;
        color: white;
      }
    }
  }
  .categorySelect::-webkit-scrollbar {
    width: 0.1rem;
    height: 0;
    background-color: transparent;
  }

  .categorySelect::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .errorMsg {
    background-color: $lightRed;
    padding: 0.5rem;
  }

  @media (min-width: 600px) {
    font-size: 120%;
  }

  @media (min-width: 800px) {
    margin: 0 20px;
    font-size: 140%;
  }
  article {
    // @include mixin.flex(column, flex-start, stretch);

    @media (min-width: 800px) {
      margin-bottom: 20px;
    }
  }

  .sortDropdown {
    @include mixin.form;
    width: 300px;
    select {
      height: min-content;
      text-align: center;
      border: 0;
      color: $medGrey;
      background-image: none;
      background-color: transparent;
      padding: 0 0.3rem;
      margin: 0;
    }
  }

  .prodWrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    column-gap: 10px;
    row-gap: 15px;

    @media (min-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      column-gap: 20px;
      row-gap: 30px;
    }
  }
}
